@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #434343;
}

.nav-links .active {
  background: #f8df00;
  border-color: #292929;
  color: #292929;
  border-radius: .375rem;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

